.todo span.label {
   position: relative;
}

.todo span.label::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 0.125rem;
   height: 0.1em;
   width: calc(100% - 0.25rem);
   transform-origin: left;
   transform: scaleX(0);
   transition: 200ms ease-in-out;
}

.todo span.label.done::after {
   transform: scaleX(1);
}
